*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#reportsNavbar{
    background-color: rgb(38, 38, 38);
    color: rgb(245, 245, 245);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color:rgb(245, 245, 245);
}
#reportsNavbar h3{
    font-size: 25px;
}
#reportsNavbar button{
    padding: 5px 30px;
    cursor: pointer;
}